<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<head th:replace="/layout :: head">
    <h1>Form create</h1>
    <!--<th:block th:if="${message}">-->
    <!--<span th:text="${message}"></span>-->
    <!--</th:block>-->
    <form id="form" th:object="${c}" method="post">
        <input th:field="*{name}"/><br>
        <input th:field="*{email}"/><br>
        <input th:field="*{address}"><br>
        <button type="submit">Create</button>
    </form>
    <footer th:replace="/layout :: footer"></footer>

</body>
</html>